<footer class="box cta">
    <p class="has-text-centered">
        Licensed under the <a target="_blank" href="https://github.com/Shiqan/Findarr#license" title="MIT License">MIT License</a>.
    </p>
</footer> 
