<section class="hero is-info is-medium is-bold">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/"> Findarr </a>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="tabs is-right">
                            <ul>
                                <li class="is-active"><a>Upcoming</a></li>
                                <li><a href="">Latest</a></li>
                                <li><a href="">Popular</a></li>
                            </ul>
                        </div>
                    </div>  
                </div>
            </div>
        </nav>
    </div>
    
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                The new standard in &lt;insert industry here&gt;
            </h1>
        </div>
    </div>
</section>

