<!DOCTYPE html>
<html lang="en">
<head>
    <% include _head.ejs%>
</head>

<body>

<% include _navigation.ejs%>


<!-- Insert Body here -->
<div class="container">

    <div class="starter-template">
        <%- body %>
    </div>

</div><!-- /.container -->

<% include _footer.ejs%>

</body>
</html>