<section class="box cta">
    <div class="control has-icons-left">
        <input class="input" type="search" placeholder="Search movie" /><span class="icon is-medium is-left"><i class="fa fa-search"></i></span>
    </div>
</section> 
