<% layout('_layout') -%>

<section class="container">
    <div class="columns">
        <article class="column is-shady notification is-white">
            <p class="title">Third column</p>
            <p class="subtitle">With some content</p>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </div>
        </article>
        <article class="column is-shady notification is-white">
            <p class="title">Third column</p>
            <p class="subtitle">With some content</p>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </div>
        </article>
        <article class="column is-shady notification is-white">
            <p class="title">Third column</p>
            <p class="subtitle">With some content</p>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </div>
        </article>
    </div>

    <div class="columns">
        <article class="column is-shady notification is-white">
            <p class="title">Middle box</p>
            <p class="subtitle">With an image</p>
            <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
            </figure>
        </article>
        <article class="column is-shady notification is-white">
            <p class="title">Middle box</p>
            <p class="subtitle">With an image</p>
            <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
            </figure>
        </article>
        <article class="column is-shady notification is-white">
            <p class="title">Middle box</p>
            <p class="subtitle">With an image</p>
            <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
            </figure>
        </article>
    </div>
</section>