<% layout('_layout') -%>

<section class="container">
    <div class="columns">
        <article class="column is-shady notification is-white">
            <p class="title">Middle box</p>
            <p class="subtitle">With an image</p>
            <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
            </figure>
        </article>
        <article class="column is-shady notification is-white">
            <p class="title">Middle box</p>
            <p class="subtitle">With an image</p>
            <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
            </figure>
        </article>
        <article class="column is-shady notification is-white">
            <p class="title">Middle box</p>
            <p class="subtitle">With an image</p>
            <figure class="image is-4by3">
                <img src="https://picsum.photos/640/480/?random" alt="Description">
            </figure>
        </article>
    </div>
</section>